/*Importamos font size de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
            
            
            *{
                margin:0;
                padding:0;
            }
            
            body {

                margin-top: 0px;  /*Margen superior*/
                margin-left: auto;
                margin-right: auto;
                background-color: #e6e4d9;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-image: url('../imágenes/pattern.png');
            }

            /*DISEÑO DE HEADER RESPONSIVE*/
            #menu {
                
                width:100%; /*ancho*/
                overflow: hidden;
                background:#a593c2;
                margin-bottom: 10px;
                position: fixed;
            }

            .wrapper {
                width: 90%;
                max-width: 800px;
                margin: auto;
                overflow: hidden;
            }

            #menu .logo {
                float: left;
                line-height: 100px;
        
            }

            .logo p {
                float: right;
                color: #a8e7d4;
                font-family: 'Kaushan Script', cursive;
                font-size: 30px;
                font-weight: bold;
                line-height: 100px;
            }

            #menu nav {
                float: right;
                line-height: 100px;
            }

            #menu nav a {
                display:inline-block; /*Para colocar las referencias de un costado*/
                color: #fff;
                text-decoration: none; /*Le quita el subrayado de nav*/
                line-height: normal;
                font-size: 20px;
                font-weight: bold;
                padding: 16px;
                line-height: normal;

            }

            @media screen and (max-width: 700px){
                #menu .logo,
                #menu nav {
                    width: 100%;
                    text-align: center;
                }

            }

            /*javascript - jquery*/

            /*.header2 {
                position: fixed; /*Para que se quede fijo en pantalla
                height: 100px;
            }

            .header2 .logo{
                line-height: 100px
            }

            .header2 nav {
                line-height: 100px;
            }*/
           /* nav {
                height:60px;
                width: 1000px;
                margin:0 auto 20px;
            }*/

            #leftmenu {
                float: left; /*Aparecera a izquierda o derecha*/
                width: 30%;
                margin-bottom: 20px;
                padding-top: 10rem;
            }

           .searchbox {
                padding: 5px;
                margin: 10px 20px;
                width: 200px;
            }


            main {
                float: right;
                width: 70%;
                padding-top: 10rem;
                
            }

            #c-slider {
                margin: auto;
                width:100%;
                max-width: 900px;
                position: relative;/*Para que los botones se posicion segun el slider*/
                overflow: hidden;/*Para que el contenido que se salga de imagen no se muestre*/
            }

            #slider {
                display: flex; /*Para que la imagenes esten continuas*/
                width: 400%;
            }

            #slider section {
                width: 100%;
            }

            #slider img {
                display: block;
                width: 100%;
                height: 100%;
            }

            #btn-prev,  #btn-next {
                width: 40px;
                height: 40px;
                background: rgba(255, 255, 255, 0.8);
                position: absolute;
                top: 50%;
                transform: translate(1%);
                line-height: 40px;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                border-radius: 50%;
                font-family: monospace;
                cursor: pointer;

            }

            #btn-prev:hover,  #btn-next:hover {
                background: rgba(255, 255, 255, 1);
            }

            #btn-prev {
                left: 10px;
            }

            #btn-next {
                right: 10px;
            }

            footer{
                clear:both;
                width:100%;
            }

          /* nav>ul { /*no hay espacio entre las listas
                list-style-type: none;
                margin:0;
                padding:0;
            }

            nav>ul>li { /*La lista estara ordenada de manera horizontal
                float: left;
            }*/
            

          /*  nav>ul>li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
                font-weight: bold;

            }*/
