
            body {

                    margin-top: 0px;  /*Margen superior*/
                    margin-left: auto;
                    margin-right: auto;
                    background-color: #e6e4d9;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    background-image: url('../imágenes/pattern.png');
                }

            #menu {
                    background-color:#a593c2 ;
                  }

            nav {
                height:60px;
                width: 1000px;
                margin:0 auto 20px;
                 }

            #leftmenu {
                float: left; /*Aparecera a izquierda o derecha*/
                width: 30%;
                margin-bottom: 20px;
                 }

            .searchbox {
                padding: 5px;
                margin: 10px 20px;
                width: 200px;
                }

            footer{
                clear:both;
                width:100%;
            }

            #main{
                float: right;
                width: 70%;
                margin-bottom: 20px;
            }

            header,
            section,footer,
            aside,
            nav,
            main,
            article,
            figure{
                display: block;
            }

            table,
            td,
            th {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
            }

            nav>ul { /*no hay espacio entre las listas*/
                list-style-type: none;
                margin:0;
                padding:0;
            }

            nav>ul>li { /*La lista estara ordenada de manera horizontal*/
                float: left;
            }

            nav>ul>li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
                font-weight: bold;

            }
